<html>
    <head>
    <link rel="stylesheet" href="${path}/media/css/list.css"/>
    <link rel="stylesheet" href="${path}/media/css/datatable.css"/>
    <link rel="stylesheet" href="${path}/media/themes/smoothness/jquery-ui-1.8.4.custom.css"</link>
    <script type="text/javascript" src='${path}/media/js/jquery-1.5.2.min.js'></script>
    <script type="text/javascript" src='${path}/media/js/jquery.dataTables-1.7.6.min.js'></script>
    <script type="text/javascript">
    $(document).ready(function()
        {
            $("#profile-sessions").dataTable({
                "bJQueryUI": true
            });
        }
    );
    </script>
	
    </head>
    <body>
    <div id="profiling-status">
    % if profiling_enabled:
    Profiling is <a id="profiling-status-change" class="enabled" href="?disable">enabled</a>
    % else:
    Profiling is <a id="profiling-status-change" class="disabled" href="?enable">disabled</a>
    % endif
    </div>

    <p><a href="${path}/delete/all">Delete ALL Sessions.</a></p>
    <p>Be careful!  Once your sessions are deleted, they *cannot* be removed!</p>

    <table id="profile-sessions" class="display">
        <thead>
            <tr>
                <th>Path</th>
                <th>Duration (seconds)</th>
                <th>Time</th>
                <th>View</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        % for uuid, session in history.items():
            <tr>
                <td>${session.path}</td>
                <td>${session.duration}</td>
                <td>${session.timestamp}</td>
                <td><a href="${path}/profiles/${session.uuid}">STATS</a></td>
                <td><a href="${path}/delete/${session.uuid}">DELETE</a></td>
            </tr>
        % endfor
        <tbody>
    </table>
    </body>
</html>
