#callgraph { border: 1px solid black; padding: 1em; }

#callhierarchy { font-family: monospace; font-size: small; }
#callhierarchy .expanded { }
#callhierarchy .profile-stats { width: 100%; padding-top: 3px; border: 0; }
#callhierarchy li.open { list-style-image: url('../images/open.gif'); }
#callhierarchy li.closed { list-style-image: url('../images/closed.gif'); }
#callhierarchy .profile-stats ul { padding-left:5px; }
#callhierarchy .profile-stats .row { width: 100%; display: inline-block; }
#callhierarchy .profile-stats .row:hover { background-color: #cccccc; }
#callhierarchy .profile-stats .module { width: 70%; }
#callhierarchy .profile-stats .measurements {
    display: inline-block;
    float: right;
}
#callhierarchy .profile-stats .time {
    width: 100px;
    display: inline-block;
}
#callhierarchy .profile-stats .graph {
    width: 200px;
    display: inline-block;
}
#callhierarchy span.bar-inlinetime {
    background-color: gray;
    display: inline-block;
    padding: 0;
    margin: 0;
}
#callhierarchy span.bar-totaltime {
    background-color: black;
    display: inline-block;
    padding: 0;
    margin: 0;
}

