#callgraph { border: 1px solid black; padding: 1em; }

#callhierarchy { font-family: monospace; font-size: small; }
#callhierarchy .expanded { }
#callhierarchy .profile-stats { width: 100%; padding: 0; cellspacing: 0; border: 0; }
#callhierarchy .profile-stats .row:hover { background-color: #000; }
#callhierarchy .profile-stats .module { width: 70%;}
#callhierarchy .profile-stats .time { width: 100px; }
#callhierarchy .profile-stats .graph { }
#callhierarchy div.bar { relative: absolute;}
#callhierarchy div.bar-inlinetime { background-color: gray; float: left; height: 15px; }
#callhierarchy div.bar-totaltime { background-color: black; float: left; height: 15px; }
